body {
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #e9e3fe;
}

.shoe {
    position: relative;
    max-width: 340px;
    margin-top: auto;
    margin-bottom: auto;
    nav-down: 50px;
    overflow: hidden;
    border-radius: 14px;
    box-shadow: 0 8px 14px 2px rgb(113, 122, 138);
}

.shoe-image {
background: linear-gradient(to bottom right, #423d5f, #a79de8);
}

.heart {
  position: absolute;
  top: 15px;
  right: 20px;
}

.shoe-content {
  background-color: white;
  padding: 20px;
  border-radius: 14px; 
  text-align: left;
}

h1 {
    letter-spacing: 0px;
}

.shoe-content h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.tags button {
  background-color: transparent;
  border: 1.5px solid #000000; /* or any color you prefer */
  border-radius: 6px;
  padding: 4px 8px;
  margin-right: 3px;
  font-size: 12px;
  letter-spacing: -0.5px;
  cursor: pointer;
  margin-top: 5px;
  color: #000000; /* text color */
}

.price {
      font-weight: bold;
      font-size: 25px;
      letter-spacing: -1px;
}

.print {
    font-size: 13px;
    letter-spacing: 0.5px;
}

.price-add button {
  background:#5E558A;
  color: white;
  border: none;
  padding: 12px 50px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  font-size: 14PX;
}

.price-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.price-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
